html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  height: 1150px;
  background: linear-gradient(
    white,
    rgb(70, 70, 70)
  );
  margin: 0 auto;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
}

header {
  margin-top: 10px;
  display: flex;
  height: 60px;
  align-items: center;
}

.header-logo {
  margin-left: 15px;
}

.hero-banner {
  margin: 15px;
  height: 600px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "services logo specialoffers"
  "products logo reviews"
  ;
}

#services {
  margin: 5px;
  grid-area: services;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

#products {
  margin: 5px;
  grid-area: products;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

#logo {
  margin: 5px;
  grid-area: logo;
  align-items: center;
  justify-content: center;
}

#specialoffers {
  margin: 5px;
  grid-area: specialoffers;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

#reviews {
  margin: 5px;
  grid-area: reviews;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}